body {
    margin: 1rem !important;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: left;
    background-color: #fff;
    border: 1px solid #1b7e3c;
    border-radius: 5px;
}

.div {
    padding: 15px;
}

.masthead-avatar {
    margin-bottom: 1rem;
}

.name {
    text-align: center;
}

nav .mb-5 {
    margin-bottom: 0 !important;
}

nav {
    background-color: #1b7e3c !important;
    border-radius: 5px 5px 0 0;
    margin: 0 -16px;
}

.navbar-nav {
    margin: 0 15px;
}

.nav-item {
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-item .nav-link,
.nav-item .nav-link:active,
.nav-item .nav-link:hover {
    color: white;
}

.portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 40px;
    border-radius: .5rem;
    overflow: hidden;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

.title {
    margin-top: 20px;
    border-bottom: 1px solid #1b7e3c;
}

.image {
    clear: both;
    max-width: 440px;
    margin: 20px;
    text-align: center;
    padding: 0 15px;
}

.modal-dialog {
    max-width: 50%;
    margin: 1.75rem auto;
    padding: 10px;
}

.image img {
    max-width: 100%;
}

.navbar-toggler {
    background-color: white;
    line-height: 0.25rem !important;
}

.navbar-toggler-icon {
    border: 2px solid black;
    margin: 5px;
    height: 0;
}

.modal-body img {
    max-width: 100%;
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
    .image {
        max-width: 100% !important;
    }
}

.portfolio {
    width: 40%;
    border-radius: 10px;
}

.center {
    text-align: center;
}

#accordion {
    /* border: 3px solid #1b7e3c; */
    margin-bottom: 20px;
}


/*  #accordion h3{
    background-color: #17a2b8;
    padding: 5px 10px;
    color: white;
} */

#accordion .ui-accordion-header {
    padding: 10px;
}

#accordion .ui-state-default {
    /* border: 1px solid #afeabc; */
    /* background-color: #afeabc; */
}

#accordion .ui-state-active {
    border: 1px solid #1b7e3c;
    background-color: #1b7e3c;
    padding: 10px;
    color: white;
}

.ui-accordion-content {
    height: auto !important;
}

.ui-icon {
    margin-right: 10px;
}

pre {
    max-width: 100%;
    background-color: black;
}

pre code {
    display: inline;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
    color: white !important;
}